@media (min-width: 1200px) {
    html {
        font-size: 27px;
    }
 }
 @media (min-width: 992px) and (max-width: 1199px) {
     html {
         font-size: 20px;
     }
  }
 
 @media (min-width: 768px) and (max-width: 991px) {
     html {
         font-size: 17px;
     }
 }
 
 @media (max-width: 767px) {
     html {
         font-size: 12px;
     }   
    .control {
        display: none;        
    }
    .description {
        flex-direction: column;
    }   
    .project-name {
        flex-direction: column-reverse;
        background-color: transparent;
        margin-bottom: 0.5rem;
    }
    .item-list {
        display: none;
    }
    .show {
        display: flex;
    }
    .advice {
       display: none;
    }
    .item-control {
        display: block;       
        align-self: flex-end;        
    }
 }
 
 @media (max-width: 480px) {
     html {
         font-size: 10px;
     }
     .control {
         display: none;
     }
 }
 