.main {
  max-width: 65rem;
  margin: 0 auto;
}

.header {
  height: 9rem;
  background-image: url("assets/image/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  position: relative;
  top: -5rem;
  height: 18rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-image: url("assets/image/usr.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about__title {
  font-size: 2rem;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
  color: #000000;
}

.about__wrapper {
  width: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link {
  display: block;
  width: 2rem;
  height: 2rem;
}

.social__icon {
  display: block;
  width: 2rem;
  height: 2rem;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel__control {
  width: 18rem;
  height: 3.75rem;
  position: relative;
  padding: 0.5rem;
  margin-bottom: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background-color: #0f3f7a;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
  font-size: 1.3rem;
  font-family: 'Roboto',Arial,sans-serif;
  font-weight: 600;
}

.panel__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.panel__item {
  padding: 1rem 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slider {
  width: 40rem;
  height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.slide-control {
  position: absolute;
  top: 50%;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.item__desc {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
}

.item-list {
  padding-right: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: self-end;
      align-self: self-end;
}

.item__advice {
  width: 90%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c4d2ff;
}

.item__link {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.item__image {
  width: auto;
  height: auto;
}

.slider__next {
  right: -1.5rem;
}

.slider__prev {
  left: -2.2rem;
}

.hide {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.panel__control:after {
  content: "+";
  position: absolute;
  top: 32%;
  right: 1rem;
  font-size: 1.3rem;
  color: #ffffff;
}

.advice--button {
  height: 3rem;
  width: 10rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 3px;
  font-size: 1.2rem;
  background-color: #0f3f7a;
  color: #ffffff;
}

.carousel {
  position: relative;
  width: 100%;
}

.items-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.item {
  display: none;
  position: relative;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.active,
.next {
  display: block;
}

.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-control {
  display: none;
  height: 2.5rem;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #0f3f7a;
  -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.project-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #c4d2ff;
}

.control {
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.control.left {
  left: 0;
  right: auto;
}

.control.right {
  right: 0;
  left: auto;
}

.arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 84px;
}

.arrow.right {
  right: 50%;
}

.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes panelshow {
  from {
    height: 0;
    display: none;
    background-color: red;
  }
  to {
    display: -webkit-box;
    display: flex;
    height: 250px;
    background-color: blue;
  }
}

@keyframes panelshow {
  from {
    height: 0;
    display: none;
    background-color: red;
  }
  to {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 250px;
    background-color: blue;
  }
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */